<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b0a3676e9b.js" crossorigin="anonymous"></script>
</head>

<body>
    
<header>
<section class="cabecera">
    
    <div class="busqueda-head">
        <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo de mercado liebre">
        <div>
        <form action="resultado.html" method="POST">
            <p>
              <input class="logo" type="text" name="busqueda" placeholder="Buscar productos, marcas y más">
              <button><i class="fas fa-search"></i></button>
            </p>
        </div> 
    </div>

    <div class="texto-head-cuotas">
        <i class="fas fa-hand-holding-usd"></i>
        <p class="titu cent">Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    <div class="burger-menu cent"><i class="fas fa-bars blue-i"></i></div>

<nav class="ul-no-style nav-bar">
<b class="titu">Ofertas Tiendas Oficiales Vender Ayuda  </b>
<b class="titu-derecha"> Creá tu cuenta <i class="far fa-id-card"></i> Ingresá <i class="fas fa-sign-in-alt"></i> Mis compras <i class="fas fa-shopping-basket"></i> </b>
</nav>
</header>

<section>
    <img class="banner white" src="/images/img-home-banner.jpg">
    </section>
<main>

<section>
<h3 class="titu">Sección: Basado en tu última visita</h3>
<section class="alin-dere banner">
<article class="box-shadow cambio">
    <img class="img-prod" src="/images/img-cafetera-moulinex.jpg">
    <div class="linea"></div>
    <p class="camion"><i class="fas fa-truck"></i></p>
    <div class="prec-desc">
        <p class="prec">$6.770</p>
        <p class="descu">40% OFF</p>
    </div>
    <p class="desc">Cafetera Moulinex</p>
</article>
<article class="box-shadow cambio">
    <img class="img-prod" src="/images/img-macbook-pro-2019.jpg">
    <div class="linea"></div>
    <p class="camion"><i class="fas fa-truck"></i></p>
    <div class="prec-desc">
        <p class="prec">$230.000</p>
        <p class="descu">20% off</p>
    </div>
    <p class="desc">MacBook Pro 2019</p>
</article>
<article class="box-shadow cambio">
    <img class="img-prod" src="/images/img-samsung-galaxy-s10.jpg">
    <div class="linea"></div>
    <p class="camion"><i class="fas fa-truck"></i></p>
    <div class="prec-desc">
        <p class="prec">$70.500</p>
        <p class="descu">10% off</p>
    </div>
    <p class="desc">Samsung Galaxy S10</p>
</article>
<article class="box-shadow cambio">
    <img class="img-prod" src="/images/img-tv-samsung-smart.jpg">
    <div class="linea"></div>
    <p class="camion"><i class="fas fa-truck"></i></p>
    <div class="prec-desc">
        <p class="prec">$23.200</p>
        <p class="descu">5% off</p>
    </div>
    <p class="desc">SmartTv Samsung 43"</p>
</article>
</section>
</section>

<section>
<h3 class="titu">Sección de Ofertas</h3>
<section class="alin-dere banner">
    <article class="box-shadow cambio">
        <img class="img-prod" src="/images/img-cafetera-moulinex.jpg"> 
        <div class="linea"></div>
        <p class="camion"><i class="fas fa-truck"></i></p>
        <div class="prec-desc">
            <p class="prec">$6.770</p>
            <p class="descu">40% off</p>
        </div>
        <p class="desc">Cafetera Moulinex</p>
    </article>
    <article class="box-shadow cambio">
        <img class="img-prod" src="/images/img-macbook-pro-2019.jpg"> 
        <div class="linea"></div>
        <p class="camion"><i class="fas fa-truck"></i></p>
        <div class="prec-desc">
            <p class="prec">$230.000</p>
            <p class="descu">20% off</p>
        </div>
        <p class="desc">MacBook Pro 2019</p>
    </article>
    <article class="box-shadow cambio">
        <img class="img-prod" src="/images/img-samsung-galaxy-s10.jpg">
        <div class="linea"></div>
        <p class="camion"><i class="fas fa-truck"></i></p>
        <div class="prec-desc">
            <p class="prec">$70.500</p>
            <p class="descu">10% off</p>
        </div>
        <p class="desc">Samsung Galaxy S10</p>
    </article>
</section>
</section>

</main>

<footer>
    <div>
        <div class="cent-img"><i class="fas fa-credit-card blue-i"></i></div>
        <h2 class="cent">Pagá con tarjeta o en efectivo</h2>
        <p class="cent">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div>
        <div class="cent-img"><i class="fas fa-gift blue-i"></i></div>
        <h2 class="cent">Envío gratis desde $ 2.500</h2>
        <p class="cent">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </div>
    <div>
        <div class="cent-img"><i class="fas fa-user-shield blue-i"></i></div>
        <h2 class="cent">Seguridad, de principio a fin</h2>
        <p class="cent">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </div>
    <div>
        <p class="cent">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
</footer>

</body>

</html>